*.ipynb_checkpoints
*pnt/
*notas.txt
*data/aguascalientes/aguascalientes.ipynb
*data/aguascalientes/aguascalientes_raw_2016.pdf
*data/bajacaliforniasur/bajacaliforniasur_raw_2017.pdf
*data/campeche/campeche.ipynb
*data/chiapas/chiapas_raw_2017.pdf
*data/chihuahua/chihuahua_raw_2016.pdf
*data/ciudaddemexico/ciudaddemexico_limpio.ipynb
*data/durango/durango.ipynb
*data/estadodemexico/estadodemexico_raw_2016.pdf
*data/estadodemexico/estadodemexico.ipynb
*data/guanajuato/guanajuato_raw_1_2017.csv
*data/guanajuato/guanajuato_raw_2016.csv
*data/guanajuato/guanajuato.ipynb
*data/jalisco/jalisco.ipynb
*data/jalisco/jalisco_f_raw_2016.xls   
*data/jalisco/jalisco_f_raw_1_2016.xls
*data/jalisco/jalisco_f_raw_2_2016.xls
*data/jalisco/jalisco_m_raw_2016.xls
*data/jalisco/jalisco_m_raw_1_2016.xls
*data/jalisco/jalisco_m_raw_2_2016.xls
*data/nuevoleon/nuevoleon_limpio.csv
*data/nuevoleon/nuevoleon.ipynb
*data/oaxaca/oaxaca_limpio.ipynb
*data/puebla/puebla_limpio.ipynb
*data/puebla/puebla_raw_2016.pdf
*data/puebla/puebla_local_raw_2016.pdf
*data/queretaro/queretaro_raw_1_2017.pdf
*data/queretaro/queretaro_limpio.ipynb
*data/quintanaroo/quintanaroo_bacalar_raw_2016.pdf
*data/quintanaroo/quintanaroo_bacalar_tabula_2016.csv
*data/quintanaroo/quintanaroo_benitojuarez_raw_2016.pdf
*data/quintanaroo/quintanaroo_benitojuarez_tabula_2016.csv
*data/quintanaroo/quintanaroo_chunhuhub_raw_2016.pdf
*data/quintanaroo/quintanaroo_chunhuhub_tabula_2016.csv
*data/quintanaroo/quintanaroo_cozumel_raw_2016.pdf
*data/quintanaroo/quintanaroo_cozumel_tabula_2016.csv
*data/quintanaroo/quintanaroo_felipecarrillopuerto_raw_2016.pdf
*data/quintanaroo/quintanaroo_felipecarrillopuerto_tabula_2016.csv
*data/quintanaroo/quintanaroo_islamujeres_raw_2016.pdf
*data/quintanaroo/quintanaroo_islamujeres_tabula_2016.csv
*data/quintanaroo/quintanaroo_josemariamorelos_raw_2016.pdf
*data/quintanaroo/quintanaroo_josemariamorelos_tabula_2016.csv
*data/quintanaroo/quintanaroo_lazarocardenas_raw_2016.pdf
*data/quintanaroo/quintanaroo_lazarocardenas_tabula_2016.csv
*data/quintanaroo/quintanaroo_othonpblanco_raw_2016.pdf
*data/quintanaroo/quintanaroo_othonpblanco_tabula_2016.csv
*data/quintanaroo/quintanaroo_puertomorelos_raw_2016.pdf
*data/quintanaroo/quintanaroo_puertomorelos_tabula_2016.csv
*data/quintanaroo/quintanaroo_solidaridad_raw_2016.pdf
*data/quintanaroo/quintanaroo_solidaridad_tabula_2016.csv
*data/quintanaroo/quintanaroo_tulum_raw_2016.pdf
*data/quintanaroo/quintanaroo_tulum_tabula_2016.csv
*data/quintanaroo/quintanaroo.ipynb
*data/sanluispotosi/sanluispotosi_altiplano_raw_2017.pdf
*data/sanluispotosi/sanluispotosi_altiplano_tabula_2017.csv
*data/sanluispotosi/sanluispotosi_centro_raw_2017.pdf
*data/sanluispotosi/sanluispotosi_centro_tabula_2017.csv
*data/sanluispotosi/sanluispotosi_conurbada_raw_2017.pdf
*data/sanluispotosi/sanluispotosi_conurbada_tabula_2017.csv
*data/sanluispotosi/sanluispotosi_media_raw_2017.pdf
*data/sanluispotosi/sanluispotosi_media_tabula_2017.csv
*data/sanluispotosi/sanluispotosi_norte_raw_2017.pdf
*data/sanluispotosi/sanluispotosi_norte_tabula_2017.csv
*data/sanluispotosi/sanluispotosi_sur_raw_2017.pdf
*data/sanluispotosi/sanluispotosi_sur_tabula_2017.csv
*data/sanluispotosi/sanluispotosi.ipynb
*data/sinaloa/sinaloa_raw_2016.pdf
*data/sinaloa/sinaloa.ipynb
*data/tlaxcala/tlaxcala_limpio.ipynb
*data/veracruz/veracruz_raw_2016.pdf
*data/yucatan/yucatan_limpio.csv
*data/yucatan/yucatan_raw_1_2017.pdf
*data/yucatan/yucatan_raw_2_2017.pdf
*data/yucatan/yucatan.ipynb
*data/puebla/puebla_raw_2016.pdf
*data/puebla/puebla_raw_local_2016.pdf
*data/yucatan/yucatan_raw_early_2017.pdf
*data/guanajuato/guanajuato_raw_2016.csv
