*.ipynb_checkpoints
*pnt/
*notas.txt
*website/
*habitantes_taxi.ipynb
*poblacion.csv
*poblacion.xls
*data/bajacaliforniasur/bajacaliforniasur_raw_2017.pdf
*data/campeche/campeche.ipynb
*data/estadodemexico/estadodemexico_raw_2016.pdf
*data/oaxaca/oaxaca_raw_2016.pdf
*data/oaxaca/oaxaca_raw_2016.xls
*data/veracruz/veracruz_raw_2016.pdf
*data/yucatan/yucatan_limpio.csv
*data/yucatan/yucatan_raw_1_2017.pdf
*data/yucatan/yucatan_raw_2_2017.pdf
*data/yucatan/yucatan.ipynb
*data/yucatan/yucatan_raw_early_2017.pdf
*data/zacatecas/zacatecas_raw_2016.xls